$black:     #373a3e;
$black_a50: rgba($black, 0.5);
$black_a20: rgba($black, 0.2);
$black_a10: rgba($black, 0.1);

$blue:        #136ad5;    $newblue: $blue;         $new-blue: $blue;           $new_blue: $blue;

$cobalt: #2267a3 !default;
$cobalt-shade: #14496c !default;
$cobalt-tint: #3288c9 !default;
